{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
<title>{% block title %}Safar_FE - Главное{% endblock title %}</title>
{% block content %}
<div class="loader">Safar_FE</div>
<section class="sec2">
    <div class="box_sec2">
        <div class="prod">
            <div class="box_catalog_txt">
                <img src="{% static 'ru/img/catalog.svg' %}" style=" margin-top: 11px;width: 35px;height: 35px;">
                Каталог
            </div>
            <a href="{% url 'catalog' %}" class="vse">
                <p style="width: 145px; height: 25px;">Полный Список <img src="{% static 'ru/img/right arrow.svg' %}">
                </p>
            </a>
        </div>
    </div>
    <div class="box_sec2_prod">
        {% for allItem in allItems %}
        <div class="product_box">
            <p class="p_product">{{ allItem.price|format_price }} сум</p>
            <img style="width: 300px; height: 300px; border: none; border-radius: 5px; z-index: 1;"
                src="{{ allItem.image.url }}">
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}